.ParentProjects{
    //display: flex;
    color: $textcolor;
    font-family: 'Gluten', sans-serif;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 100px;
    
    .set1{
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        margin-bottom: 50px;
        .project1:hover, .project2:hover, .project3:hover{
            background-color: $textcolor;
            opacity: 80%;
            .Robots{
                opacity: 100%;
                color: $headerTXTColor;
                //background-color: $textcolor;
                background-color: $textcolor;
                padding: 10px;
                transition: opacity .2s;
                
                
            }

            

            .SecondBit{
                opacity: 100%;
                //opacity: 100%;
                background-color: $textcolor;
                padding: 5px;
                transition: opacity .2s;

               
            }
       }

       .Robots{
       opacity: 0;
        
        text-align: center;
        margin-top: 150px;
        //transition: .2s ease;
        
       }

       .project1, .project2, .project3{
        transition: .2s ease-in;
    }

    
        
    

    .SecondBit{
        opacity: 0;
        font-size: 20px;
        color: $headerTXTColor;
        text-align: center;
    }

       
        .title{
            background-color: $textboxColor;
            width: 1200px;
            height: 60px;
            padding: 16px;
            align-self: flex-start;
        }
        .project1{
            background-color: $textboxColor;
            height: 400px;
            width: 300px;
            margin-left: 100px;
            position: relative;
            
            background-image: url("/Images/WallE-2.png");
            background-size: 100% 100%;

            border: solid 8px $textcolor;
           
            

            
        }

        .project2{
            background-color: $textboxColor;
            height: 400px;
            width: 300px;
            //justify-self: center;
            background-image: url("/Images/Test3.jpg");
            background-size: 100% 100%;
            border: solid 8px $textcolor;
        }

        .project3{
            background-color: $textboxColor;
            height: 400px;
            width: 300px;
            background-image: url("/Images/AllieBlue.GirlBossPP.jpg");
            background-size: 100% 100%;
            border: solid 8px $textcolor;
            
        }
    }
    .set2{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        
        margin-bottom: 50px;
        .title{
            background-color: $textboxColor;
            width: 1200px;
            height: 60px;
            padding: 16px;
        }
        .project4{
            background-color: $textboxColor;
            height: 400px;
            width: 300px;
            margin-left: 100px;
        }

        .project5{
            background-color: $textboxColor;
            height: 400px;
            width: 300px;
        }

        .project6{
            background-color: $textboxColor;
            height: 400px;
            width: 300px;  
        }
    }
    .set3{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        
        margin-bottom: 50px;
        .title{
            background-color: $textboxColor;
            width: 1200px;
            height: 60px;
            padding: 16px;
        }
        .project7{
            background-color: $textboxColor;
            height: 400px;
            width: 300px;
            margin-left: 100px;
            
        }

        .project8{
            background-color: $textboxColor;
            height: 400px;
            width: 300px;
        }

        .project9{
            background-color: $textboxColor;
            height: 400px;
            width: 300px;
        }
    }
}




@media screen and (max-width: 430px){

    .title{
        font-size: 20px;
        width: 80%;
        //margin-left: 20px;
        padding: 20px;
        text-align: center;
        background-color: $textboxColor;
        
    }

    
    
        
    .ParentProjects{
        margin-left: 0;


        
        
        .set1{
            //position: relative;
            .Robots{
                display: block;
               margin-top: 0px;
               font-size: 20px;

               color: $textcolor;
               background-color: $headerTXTColor;
               padding: 5px;
                opacity: 100%;
               margin-top: 100px;
                
            }
            .SecondBit{
                //display: block;
                font-size: 14px;
                color: $textcolor;
                background-color: $headerTXTColor;
                padding: 5px;
                margin-top: -1px;
                opacity: 100%;
                
            }

            
            
           
            
            .project1{
                margin-left: 115px;
                height: 300px;
                width: 200px;
            }
            .project2, .project3{
                margin-left: 115px;
                height: 300px;
                width: 200px;
            }
        }

        .set2{
            .project4, .project5, .project6{
                height: 300px;
                width: 200px;
                margin-left: 115px;
                transition: none;
            }

        }
        .set3{
            .project7, .project8, .project9{
                height: 300px;
                width: 200px;
                margin-left: 115px;
            }
        }
    }

        

       
    
    


}