body{
    background-color: $backgroundColor;
    
}

li, button, a{
    text-decoration: none;
    list-style-type: none;
}



   
    .navigation{
        color: $headerTXTColor;
        background-color: $navColor;
        font-family: 'Gluten', sans-serif;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        
        a{
        color: inherit;
        }

        
       
        .hamburgermenu{
            display: none;
            
           
        }

        

        .bar{
            position: relative;
            display: block;
            width: 40px;
            height: 7px;
            margin: 10px auto;
            background-color: $headerTXTColor;
            margin-right: 30px;
            top: 10px;
            
            
        }

       #logo{
                width: 75px;
                height:75px;
                margin-top: -2px;
                
       }

        ._navlinks{
            display: flex;
            flex-flow: row wrap;
            padding: 25px;
            margin: 20px;
            gap:30px;

            a{
                position: relative;
                img{
                    width: 100%;
                    position: absolute;
                    bottom: -40px;
                    left: 0;
                    //display: none;
                    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
                    transition: clip-path .3s ease;

                   
                }

                #contact{
                    height: 40px;
                }

                
                &:hover, &:focus{
                    img{
                        display: block;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                        
                        }
                    }
            
        }
    }

        

        .logo{
            display: flex;
            margin: 20px;
            gap: 20px;
                p{
                    align-self: center;
                    font-size: 40px;
                }

                img{
                    align-self: center;
                
                }
        }

        
       
       
    }

    .bodysection{
        display: flex;
        color: $textcolor;
        margin-top: 100px;
        gap: 30px;
        
        
        .animalcharacter{
            border: solid 8px $textcolor;
            border-radius: 40px;
            background-color: $textboxColor;
            margin: auto;
            width: 525px;
            height: 450px;

          
            img{
                width: 575px;
                height: 455px;
                margin-left: -25px;
                position: absolute;
                
            }

            
        }
        .textwrapper{
            text-align: center;
            display: flex;
            margin-right: auto;  
            margin-top: 15px;
            gap: 50px;
            flex-flow: column wrap;
            width: 700px;
            
            .text1{
                background-color: $textboxColor;
                font-family: 'Merriweather Sans',sans-serif;
                font-weight: 700;
                font-size: 25px;
                padding: 60px;
                border: solid 8px $textcolor;
                
                
            }
            .text2{
                font-family: 'Gluten', sans-serif;
                background-color: $textboxColor;
                font-size: 30px;
                padding: 70px;
                border: solid 8px $textcolor;
            }

        .heartwrapper{
            position: relative;
            #heart1{
                position: absolute;
                bottom: 5px;
                left: -30px;
        
            }

            #heart2{
                position: absolute;
                bottom: 5px;
                left: 12px;
                height: 30px;
                width: 30px;
            }

            #heart3{
                position: absolute;
                transform: scaleX(-1);
                right: 2px;
                bottom: 5px;
            }

            #undermain{
                position: absolute;
                height: 50px;
                width: 500px;
                bottom: -80px;
                left: 15px;
            }
        }
        }
    }


    @media screen and (max-width: 430px){
        .navigation{
            width: 430px;
            //position: relative;
                .logo{
                    #logo{
                    height: 50px;
                    width: 50px;
                    }
                }
            
                background-color: $navColor;
                position: relative;

            #name{
                display: none;
            }

            .hamburgermenu{
                display: block;
                cursor: pointer;
            }

            
            


        

            
        }


        .bodysection{
        display: flex;
        flex-flow: column wrap;
        margin-top: 50px;
        
        .animalcharacter{
            border: solid 4px $textcolor;
            border-radius: 40px;
            background-color: $textboxColor;
            margin-left: 60px;
            width: 300px;
            height: 275px;
            gap: 40px;
        
        img{
            width: 360px;
            height: 290px;
            position: absolute;
        }
    }



    .textwrapper{
        text-align: center;
                display: flex;  
                margin-top: 15px;
                gap: 30px;
                
                .text1{
                    
                    font-weight: 700;
                    font-size: 15px;
                    padding: 20px;
                    border: solid 4px $textcolor;
                    width: 430px;
                    
                }
                .text2{
                    font-family: 'Gluten', sans-serif;
                    background-color: $textboxColor;
                    font-size: 20px;
                    padding: 60px;
                    border: solid 4px $textcolor;
                    width: 430px;
                    margin-bottom: 40px;
                }
    
            .heartwrapper2{
                position: relative;
                #heart4{
                    position: absolute;
                    
            
                }
    
                #heart5{
                    position: absolute;
                   bottom: 5px;
                   left: -30px;
                    
                }
    
                #heart6{
                    position: absolute;
                    transform: scaleX(-1);
                    bottom: 5px;
                    right: 5px;
                   
                }

                #undermain{
                    position: absolute;
                    bottom: -85px;
                }
    }
}




    }
}

    
    









    

