/*@media screen and (max-width: 430px){
    .desktopVersion{
        display: none;
    }
    .mobileVersion{
        display: block;
    }

    .homepage{
        .nav{
            background-color: $navColor;
            padding: 20px;
            display: flex;
            .logo2{
                height: 50px;
                width: 50px;
                //margin: auto;
                justify-content: space-between;
            }

            .hamburger{
                margin-left: 300px;
                color: green;
            }

        }

        .bodysection{
            display: flex;
            flex-flow: column wrap;
            margin-top: 50px;
            .animalcharacter{
                border: solid 4px $textcolor;
                border-radius: 40px;
                background-color: $textboxColor;
                margin-left: 60px;
                width: 300px;
                height: 275px;
                gap: 40px;
            img{
                width: 360px;
                height: 290px;
                position: absolute;

            }
            }

            .textwrapper{
                text-align: center;
                display: flex;  
                margin-top: 15px;
                gap: 30px;
                
                .text1{
                    
                    font-weight: 700;
                    font-size: 15px;
                    padding: 20px;
                    border: solid 4px $textcolor;
                    width: 430px;
                    
                }
                .text2{
                    font-family: 'Gluten', sans-serif;
                    background-color: $textboxColor;
                    font-size: 20px;
                    padding: 60px;
                    border: solid 4px $textcolor;
                    width: 430px;
                    margin-bottom: 40px;
                }
    
            .heartwrapper2{
                position: relative;
                #heart4{
                    position: absolute;
                    
            
                }
    
                #heart5{
                    position: absolute;
                   bottom: 5px;
                   left: -30px;
                    
                }
    
                #heart6{
                    position: absolute;
                    transform: scaleX(-1);
                    bottom: 5px;
                    right: 5px;
                   
                }

                #undermain{
                    position: absolute;
                    bottom: -85px;
                }
            }
        }
        }
    }

    .divider1{
        background-color: $navColor;
        margin: auto;
        padding: 40px;
        p{
            font-size: 30px;
            font-family: 'Gluten', sans-serif;
            color: $headerTXTColor;
            text-align: center;
        }
    }

    .AboutME{
        .TopSection{
            position: relative;
            .flower1{
                position: absolute;
                height: 150px;
                width: 150px;
                right: -20px;
                top: -50px;
            }

           

            .cloud1{
                position: relative;
                .firsttxt{
                    padding: 30px;
                    background-color: $headerTXTColor;
                    z-index: -1;
                    position: absolute;
                    
                    p{
                    font-size: 15px;
                    color: $textcolor;
                    font-family: "Merriweather Sans", sans-serif;
                    text-align: center;
                    }
                }

                img{
                    width: 320px;
                    height: 320px;
                    border-radius: 30%;
                    margin: auto;
                    z-index: -2;
                }

            }


            .flower2{

            }
        }
    }







    }*/

    .AboutMe{
        color: $textcolor;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 20px;
        margin-right: auto;
        margin-left:auto;
        .TopSection{
            
            .flower1{
                height: 210px;
                width: 210px;
                position: absolute;
                left: 20px;
                top: 170px;
            }
            .flower2{
                height: 300px;
                width: 300px;
                right: -15px;
                top: 550px;
                position: absolute;
            }
            .cloud1{
                margin-top: 100px;
                margin-left: 325px;
                margin-right: auto;
                
                img{
                    
                    height: 500px;
                    width: 700px;
                    //position: absolute;
                }
                p{
                    text-align: center;
                    position: absolute;
                    
                    left: 425px;
                    top: 420px;
                    width: 500px;
                }
            }
    
            .arrow1{
                position: absolute;
                left: 200px;
                top: 500px;
            }
        }
    }
    
    .middleSection{
        position: relative;
        .yellow{
            height: 200px;
            width: 200px;
            position: absolute;
            left: -50px;
            top: -100px;
            z-index: 1;
        }
        .CV{
            margin-left: 50px;
            margin-top: 150px;
            width: 600px;
            height: 750px;
            border: $textcolor 10px solid;
            background-color: $textboxColor;
            position: relative;
            .embedPDF{
                position: absolute;
                //width: 500;
                //height: 700;
                top: 40px;
                left: 40px;
            }
            #PDFImage{
                display: none;
            }

            #clickable{
                position: absolute;
                background-color: $headerTXTColor;
                //padding: 30px;
                left: 180px;
                top: 620px;
                border: solid 4px $textcolor;
                width: 150px;
                height: 50px;
                font-family: "Gluten", sans-serif;
                color: $textcolor;
                text-align: center;
                padding: 15px;

                
            }
        }
    
        .image{
            height: 500px;
            width: 500px;
            //border-radius: 40px;
            position: absolute;
            top: 40px;
            right: 50px;
            img{
                border-radius: 20%;
            }
        }
    }
    
    
    .bottomsection{
        margin-right: auto;
        margin-left: auto;
        color: $textcolor;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 20px;
        .cloudandcat{
            p{
                position: absolute;
                width: 300px;
                text-align: center;
                left: 880px;
                top: 1850px;
            }
            #cloudcool{
                height: 600px;
                width: 600px;
                margin-left: 750px;
                //margin-top: px;
            }
            #catbody{
                position: absolute;
                z-index: -1;
                left: 1020px;
                top: 1460px;
                width: 175px;
                height: 300px;
            }
            #catarms{
                position: absolute;
                left: 960px;
                top: 1620px;
                width: 300px;
            }
        }
    
        .finalflower{
            height: 260px;
            width: 260px;
            position: absolute;
            bottom: -1500px;
            left: 50px;  
        }
    
        .socials{
            display: flex;
            gap: 40px;
            justify-content: center;
            margin-bottom: 30px;
            .social1{
                background-color: $textcolor;
                width: 100px;
                height: 100px;
            }
            .social2{
                background-color: $textcolor;
                width: 100px;
                height: 100px;
            }
            .social3{
                background-color: $textcolor;
                width: 100px;
                height: 100px;
            }
        }
    
        .socialsandarrow{
            position: relative;
            #socialsDoodle{
                position: absolute;
                bottom: 250px;
                left: 100px;
            }
    
            #arrow{
                position: absolute;
                bottom: 100px;
                left: 300px;
            }
        }
    }



    @media screen and (max-width: 430px){

        .navigation{
            
            //background-color: $navColor;
            width: 430px;
            .logo{
                #logo{
                height: 50px;
                width: 50px;
                }
            }

        ._navlinks{
            display: none;
        }

        #name{
            display: none;
        }

        .hamburgermenu{
            display: block
        }
    }

        .AboutMe{
            
            .TopSection{
                position: relative;
                
                   .arrow1{
                    display: none;
                   }
                   .flower2{
                    display: none;
                   }
                   
                .flower1{
                    position: absolute;
                    height: 120px;
                    width: 120px;
                    left: -3px;
                    top: 1000px;
                    z-index: 1;
                }
    
               
    
                .cloud1{
                    position: relative;
                    #text1{
                        position: absolute;
                        padding: 30px;
                        background-color: $headerTXTColor;
                        z-index: 3;
                        top: 270px;
                       left: -270px;
                        font-size: 15px;
                        color: $textcolor;
                        font-family: "Merriweather Sans", sans-serif;
                        text-align: center;
                        width: 300px;
                        border-radius: 20%;
                        border: solid 8px $textboxColor;
                        
                    }

                    #CloudImage{
                        display: none;
                       }
    
                   
    
                }
    
    
               
            }
        }


        .middleSection{
            //position: relative;
            #iF{
                display: none;
            }


            .yellow{
                height: 150px;
                width: 150px;
                position: absolute;
                left: 300px;
                top: -150px;
                z-index: 1;
            }
            .CV{
                //margin-left: 50px;
                margin-top: 150px;
                width: 600px;
                height: 450px;
                border: $textcolor 10px solid;
                background-color: $textboxColor;
                position: relative;
                left: -100px;
                top: 500px;
                margin-bottom: 30px;
                .embedPDF{
                    position: absolute;
                    //width: 500;
                    //height: 700;
                    top: 40px;
                    left: 40px;

                    #clickable{
                        position: absolute;
                        background-color: $headerTXTColor;
                        //padding: 30px;
                        left: 140px;
                        top: 300px;
                        border: solid 4px $textcolor;
                        width: 150px;
                        height: 50px;
                        font-family: "Gluten", sans-serif;
                        color: $textcolor;
                        text-align: center;
                        padding: 15px;

                        
                    }

                    #PDFImage{
                        position: relative;
                        left: 60px;
                        width: 300px;
                        height: 300px;
                        top: -20px;
                    }
                }
            }
        
            .image{
                height: 300px;
                width: 300px;
                //border-radius: 40px;
                position: absolute;
                top: -90px;
                left: 60px;
                
                img{
                    border-radius: 80%;
                }
            }
        }



        .bottomsection{
            margin-right: auto;
            margin-left: auto;
            color: $textcolor;
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 20px;

            .socialsandarrow{
                display: none;
            }
            #cloudcool{
                display: none;
            }

            #text2{
                left: 20px;
            }

            #catbody{
                display: none;
            }
            #catarms{
                display: none;
            }
           
            .cloudandcat{
                position: relative;
                p{
                    position: absolute;
                    width: 400px;
                    text-align: center;
                    
                    background-color: $headerTXTColor;
                    border-radius: 20%;
                    padding: 30px;
                    top: 550px;
                    margin-left: -3px;
                   border: solid 8px $textboxColor;
                   padding-bottom: 30px;
                   
                    
                }
                
               
            }
        
            .finalflower{
                display: none;
            }
        
            .socials{
                display: flex;
                gap: 40px;
                justify-content: center;
                margin-bottom: 30px;
                position: absolute;
                bottom: -1350px;
                left: 25px;
                padding-bottom: 30px;
                padding-top: 30px;
                .social1{
                    background-color: $textcolor;
                    width: 100px;
                    height: 100px;
                }
                .social2{
                    background-color: $textcolor;
                    width: 100px;
                    height: 100px;
                }
                .social3{
                    background-color: $textcolor;
                    width: 100px;
                    height: 100px;
                }
            }
        
            
        }


    }