
//margin between all sections of the site
$sectionMargin: 50px;
$headerTXTColor: #F5F4EC;
$navColor: #8FD1D9;
$backgroundColor: #F2DFE2;
$textcolor: #BF045B;
$textboxColor: #F2AEBB;
//$screenSize;

