/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  background-color: #F2DFE2;
}

li, button, a {
  text-decoration: none;
  list-style-type: none;
}

.navigation {
  color: #F5F4EC;
  background-color: #8FD1D9;
  font-family: "Gluten", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}
.navigation a {
  color: inherit;
}
.navigation .hamburgermenu {
  display: none;
}
.navigation .bar {
  position: relative;
  display: block;
  width: 40px;
  height: 7px;
  margin: 10px auto;
  background-color: #F5F4EC;
  margin-right: 30px;
  top: 10px;
}
.navigation #logo {
  width: 75px;
  height: 75px;
  margin-top: -2px;
}
.navigation ._navlinks {
  display: flex;
  flex-flow: row wrap;
  padding: 25px;
  margin: 20px;
  gap: 30px;
}
.navigation ._navlinks a {
  position: relative;
}
.navigation ._navlinks a img {
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  -webkit-clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
          clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  transition: -webkit-clip-path 0.3s ease;
  transition: clip-path 0.3s ease;
  transition: clip-path 0.3s ease, -webkit-clip-path 0.3s ease;
}
.navigation ._navlinks a #contact {
  height: 40px;
}
.navigation ._navlinks a:hover img, .navigation ._navlinks a:focus img {
  display: block;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.navigation .logo {
  display: flex;
  margin: 20px;
  gap: 20px;
}
.navigation .logo p {
  align-self: center;
  font-size: 40px;
}
.navigation .logo img {
  align-self: center;
}

.bodysection {
  display: flex;
  color: #BF045B;
  margin-top: 100px;
  gap: 30px;
}
.bodysection .animalcharacter {
  border: solid 8px #BF045B;
  border-radius: 40px;
  background-color: #F2AEBB;
  margin: auto;
  width: 525px;
  height: 450px;
}
.bodysection .animalcharacter img {
  width: 575px;
  height: 455px;
  margin-left: -25px;
  position: absolute;
}
.bodysection .textwrapper {
  text-align: center;
  display: flex;
  margin-right: auto;
  margin-top: 15px;
  gap: 50px;
  flex-flow: column wrap;
  width: 700px;
}
.bodysection .textwrapper .text1 {
  background-color: #F2AEBB;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding: 60px;
  border: solid 8px #BF045B;
}
.bodysection .textwrapper .text2 {
  font-family: "Gluten", sans-serif;
  background-color: #F2AEBB;
  font-size: 30px;
  padding: 70px;
  border: solid 8px #BF045B;
}
.bodysection .textwrapper .heartwrapper {
  position: relative;
}
.bodysection .textwrapper .heartwrapper #heart1 {
  position: absolute;
  bottom: 5px;
  left: -30px;
}
.bodysection .textwrapper .heartwrapper #heart2 {
  position: absolute;
  bottom: 5px;
  left: 12px;
  height: 30px;
  width: 30px;
}
.bodysection .textwrapper .heartwrapper #heart3 {
  position: absolute;
  transform: scaleX(-1);
  right: 2px;
  bottom: 5px;
}
.bodysection .textwrapper .heartwrapper #undermain {
  position: absolute;
  height: 50px;
  width: 500px;
  bottom: -80px;
  left: 15px;
}

@media screen and (max-width: 430px) {
  .navigation {
    width: 430px;
    background-color: #8FD1D9;
    position: relative;
  }
  .navigation .logo #logo {
    height: 50px;
    width: 50px;
  }
  .navigation #name {
    display: none;
  }
  .navigation .hamburgermenu {
    display: block;
    cursor: pointer;
  }
  .bodysection {
    display: flex;
    flex-flow: column wrap;
    margin-top: 50px;
  }
  .bodysection .animalcharacter {
    border: solid 4px #BF045B;
    border-radius: 40px;
    background-color: #F2AEBB;
    margin-left: 60px;
    width: 300px;
    height: 275px;
    gap: 40px;
  }
  .bodysection .animalcharacter img {
    width: 360px;
    height: 290px;
    position: absolute;
  }
  .bodysection .textwrapper {
    text-align: center;
    display: flex;
    margin-top: 15px;
    gap: 30px;
  }
  .bodysection .textwrapper .text1 {
    font-weight: 700;
    font-size: 15px;
    padding: 20px;
    border: solid 4px #BF045B;
    width: 430px;
  }
  .bodysection .textwrapper .text2 {
    font-family: "Gluten", sans-serif;
    background-color: #F2AEBB;
    font-size: 20px;
    padding: 60px;
    border: solid 4px #BF045B;
    width: 430px;
    margin-bottom: 40px;
  }
  .bodysection .textwrapper .heartwrapper2 {
    position: relative;
  }
  .bodysection .textwrapper .heartwrapper2 #heart4 {
    position: absolute;
  }
  .bodysection .textwrapper .heartwrapper2 #heart5 {
    position: absolute;
    bottom: 5px;
    left: -30px;
  }
  .bodysection .textwrapper .heartwrapper2 #heart6 {
    position: absolute;
    transform: scaleX(-1);
    bottom: 5px;
    right: 5px;
  }
  .bodysection .textwrapper .heartwrapper2 #undermain {
    position: absolute;
    bottom: -85px;
  }
}
/*@media screen and (max-width: 430px){
    .desktopVersion{
        display: none;
    }
    .mobileVersion{
        display: block;
    }

    .homepage{
        .nav{
            background-color: $navColor;
            padding: 20px;
            display: flex;
            .logo2{
                height: 50px;
                width: 50px;
                //margin: auto;
                justify-content: space-between;
            }

            .hamburger{
                margin-left: 300px;
                color: green;
            }

        }

        .bodysection{
            display: flex;
            flex-flow: column wrap;
            margin-top: 50px;
            .animalcharacter{
                border: solid 4px $textcolor;
                border-radius: 40px;
                background-color: $textboxColor;
                margin-left: 60px;
                width: 300px;
                height: 275px;
                gap: 40px;
            img{
                width: 360px;
                height: 290px;
                position: absolute;

            }
            }

            .textwrapper{
                text-align: center;
                display: flex;  
                margin-top: 15px;
                gap: 30px;

                .text1{

                    font-weight: 700;
                    font-size: 15px;
                    padding: 20px;
                    border: solid 4px $textcolor;
                    width: 430px;

                }
                .text2{
                    font-family: 'Gluten', sans-serif;
                    background-color: $textboxColor;
                    font-size: 20px;
                    padding: 60px;
                    border: solid 4px $textcolor;
                    width: 430px;
                    margin-bottom: 40px;
                }

            .heartwrapper2{
                position: relative;
                #heart4{
                    position: absolute;


                }

                #heart5{
                    position: absolute;
                   bottom: 5px;
                   left: -30px;

                }

                #heart6{
                    position: absolute;
                    transform: scaleX(-1);
                    bottom: 5px;
                    right: 5px;

                }

                #undermain{
                    position: absolute;
                    bottom: -85px;
                }
            }
        }
        }
    }

    .divider1{
        background-color: $navColor;
        margin: auto;
        padding: 40px;
        p{
            font-size: 30px;
            font-family: 'Gluten', sans-serif;
            color: $headerTXTColor;
            text-align: center;
        }
    }

    .AboutME{
        .TopSection{
            position: relative;
            .flower1{
                position: absolute;
                height: 150px;
                width: 150px;
                right: -20px;
                top: -50px;
            }



            .cloud1{
                position: relative;
                .firsttxt{
                    padding: 30px;
                    background-color: $headerTXTColor;
                    z-index: -1;
                    position: absolute;

                    p{
                    font-size: 15px;
                    color: $textcolor;
                    font-family: "Merriweather Sans", sans-serif;
                    text-align: center;
                    }
                }

                img{
                    width: 320px;
                    height: 320px;
                    border-radius: 30%;
                    margin: auto;
                    z-index: -2;
                }

            }


            .flower2{

            }
        }
    }







    }*/
.AboutMe {
  color: #BF045B;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
}
.AboutMe .TopSection .flower1 {
  height: 210px;
  width: 210px;
  position: absolute;
  left: 20px;
  top: 170px;
}
.AboutMe .TopSection .flower2 {
  height: 300px;
  width: 300px;
  right: -15px;
  top: 550px;
  position: absolute;
}
.AboutMe .TopSection .cloud1 {
  margin-top: 100px;
  margin-left: 325px;
  margin-right: auto;
}
.AboutMe .TopSection .cloud1 img {
  height: 500px;
  width: 700px;
}
.AboutMe .TopSection .cloud1 p {
  text-align: center;
  position: absolute;
  left: 425px;
  top: 420px;
  width: 500px;
}
.AboutMe .TopSection .arrow1 {
  position: absolute;
  left: 200px;
  top: 500px;
}

.middleSection {
  position: relative;
}
.middleSection .yellow {
  height: 200px;
  width: 200px;
  position: absolute;
  left: -50px;
  top: -100px;
  z-index: 1;
}
.middleSection .CV {
  margin-left: 50px;
  margin-top: 150px;
  width: 600px;
  height: 750px;
  border: #BF045B 10px solid;
  background-color: #F2AEBB;
  position: relative;
}
.middleSection .CV .embedPDF {
  position: absolute;
  top: 40px;
  left: 40px;
}
.middleSection .CV #PDFImage {
  display: none;
}
.middleSection .CV #clickable {
  position: absolute;
  background-color: #F5F4EC;
  left: 180px;
  top: 620px;
  border: solid 4px #BF045B;
  width: 150px;
  height: 50px;
  font-family: "Gluten", sans-serif;
  color: #BF045B;
  text-align: center;
  padding: 15px;
}
.middleSection .image {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 40px;
  right: 50px;
}
.middleSection .image img {
  border-radius: 20%;
}

.bottomsection {
  margin-right: auto;
  margin-left: auto;
  color: #BF045B;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
}
.bottomsection .cloudandcat p {
  position: absolute;
  width: 300px;
  text-align: center;
  left: 880px;
  top: 1850px;
}
.bottomsection .cloudandcat #cloudcool {
  height: 600px;
  width: 600px;
  margin-left: 750px;
}
.bottomsection .cloudandcat #catbody {
  position: absolute;
  z-index: -1;
  left: 1020px;
  top: 1460px;
  width: 175px;
  height: 300px;
}
.bottomsection .cloudandcat #catarms {
  position: absolute;
  left: 960px;
  top: 1620px;
  width: 300px;
}
.bottomsection .finalflower {
  height: 260px;
  width: 260px;
  position: absolute;
  bottom: -1500px;
  left: 50px;
}
.bottomsection .socials {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 30px;
}
.bottomsection .socials .social1 {
  background-color: #BF045B;
  width: 100px;
  height: 100px;
}
.bottomsection .socials .social2 {
  background-color: #BF045B;
  width: 100px;
  height: 100px;
}
.bottomsection .socials .social3 {
  background-color: #BF045B;
  width: 100px;
  height: 100px;
}
.bottomsection .socialsandarrow {
  position: relative;
}
.bottomsection .socialsandarrow #socialsDoodle {
  position: absolute;
  bottom: 250px;
  left: 100px;
}
.bottomsection .socialsandarrow #arrow {
  position: absolute;
  bottom: 100px;
  left: 300px;
}

@media screen and (max-width: 430px) {
  .navigation {
    width: 430px;
  }
  .navigation .logo #logo {
    height: 50px;
    width: 50px;
  }
  .navigation ._navlinks {
    display: none;
  }
  .navigation #name {
    display: none;
  }
  .navigation .hamburgermenu {
    display: block;
  }
  .AboutMe .TopSection {
    position: relative;
  }
  .AboutMe .TopSection .arrow1 {
    display: none;
  }
  .AboutMe .TopSection .flower2 {
    display: none;
  }
  .AboutMe .TopSection .flower1 {
    position: absolute;
    height: 120px;
    width: 120px;
    left: -3px;
    top: 1000px;
    z-index: 1;
  }
  .AboutMe .TopSection .cloud1 {
    position: relative;
  }
  .AboutMe .TopSection .cloud1 #text1 {
    position: absolute;
    padding: 30px;
    background-color: #F5F4EC;
    z-index: 3;
    top: 270px;
    left: -270px;
    font-size: 15px;
    color: #BF045B;
    font-family: "Merriweather Sans", sans-serif;
    text-align: center;
    width: 300px;
    border-radius: 20%;
    border: solid 8px #F2AEBB;
  }
  .AboutMe .TopSection .cloud1 #CloudImage {
    display: none;
  }
  .middleSection #iF {
    display: none;
  }
  .middleSection .yellow {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 300px;
    top: -150px;
    z-index: 1;
  }
  .middleSection .CV {
    margin-top: 150px;
    width: 600px;
    height: 450px;
    border: #BF045B 10px solid;
    background-color: #F2AEBB;
    position: relative;
    left: -100px;
    top: 500px;
    margin-bottom: 30px;
  }
  .middleSection .CV .embedPDF {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  .middleSection .CV .embedPDF #clickable {
    position: absolute;
    background-color: #F5F4EC;
    left: 140px;
    top: 300px;
    border: solid 4px #BF045B;
    width: 150px;
    height: 50px;
    font-family: "Gluten", sans-serif;
    color: #BF045B;
    text-align: center;
    padding: 15px;
  }
  .middleSection .CV .embedPDF #PDFImage {
    position: relative;
    left: 60px;
    width: 300px;
    height: 300px;
    top: -20px;
  }
  .middleSection .image {
    height: 300px;
    width: 300px;
    position: absolute;
    top: -90px;
    left: 60px;
  }
  .middleSection .image img {
    border-radius: 80%;
  }
  .bottomsection {
    margin-right: auto;
    margin-left: auto;
    color: #BF045B;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 20px;
  }
  .bottomsection .socialsandarrow {
    display: none;
  }
  .bottomsection #cloudcool {
    display: none;
  }
  .bottomsection #text2 {
    left: 20px;
  }
  .bottomsection #catbody {
    display: none;
  }
  .bottomsection #catarms {
    display: none;
  }
  .bottomsection .cloudandcat {
    position: relative;
  }
  .bottomsection .cloudandcat p {
    position: absolute;
    width: 400px;
    text-align: center;
    background-color: #F5F4EC;
    border-radius: 20%;
    padding: 30px;
    top: 550px;
    margin-left: -3px;
    border: solid 8px #F2AEBB;
    padding-bottom: 30px;
  }
  .bottomsection .finalflower {
    display: none;
  }
  .bottomsection .socials {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 30px;
    position: absolute;
    bottom: -1350px;
    left: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .bottomsection .socials .social1 {
    background-color: #BF045B;
    width: 100px;
    height: 100px;
  }
  .bottomsection .socials .social2 {
    background-color: #BF045B;
    width: 100px;
    height: 100px;
  }
  .bottomsection .socials .social3 {
    background-color: #BF045B;
    width: 100px;
    height: 100px;
  }
}
.ParentProjects {
  color: #BF045B;
  font-family: "Gluten", sans-serif;
  font-size: 30px;
  margin-top: 40px;
  margin-left: 100px;
}
.ParentProjects .set1 {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.ParentProjects .set1 .project1:hover, .ParentProjects .set1 .project2:hover, .ParentProjects .set1 .project3:hover {
  background-color: #BF045B;
}
.ParentProjects .set1 .project1:hover .Robots, .ParentProjects .set1 .project2:hover .Robots, .ParentProjects .set1 .project3:hover .Robots {
  display: block;
  color: #F5F4EC;
}
.ParentProjects .set1 .project1:hover .SecondBit, .ParentProjects .set1 .project2:hover .SecondBit, .ParentProjects .set1 .project3:hover .SecondBit {
  display: block;
}
.ParentProjects .set1 .Robots {
  display: none;
  text-align: center;
  margin-top: 150px;
}
.ParentProjects .set1 .project1, .ParentProjects .set1 .project2, .ParentProjects .set1 .project3 {
  transition: 0.2s ease-in;
}
.ParentProjects .set1 .SecondBit {
  display: none;
  font-size: 20px;
  color: #F5F4EC;
  text-align: center;
}
.ParentProjects .set1 .title1 {
  background-color: #F2AEBB;
  width: 1200px;
  height: 60px;
  padding: 16px;
  align-self: flex-start;
}
.ParentProjects .set1 .project1 {
  background-color: #F2AEBB;
  height: 400px;
  width: 300px;
  margin-left: 100px;
}
.ParentProjects .set1 .project2 {
  background-color: #F2AEBB;
  height: 400px;
  width: 300px;
}
.ParentProjects .set1 .project3 {
  background-color: #F2AEBB;
  height: 400px;
  width: 300px;
}
.ParentProjects .set2 {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 50px;
}
.ParentProjects .set2 .title2 {
  background-color: #F2AEBB;
  width: 1200px;
  height: 60px;
  padding: 16px;
}
.ParentProjects .set2 .project4 {
  background-color: #F2AEBB;
  height: 400px;
  width: 300px;
  margin-left: 100px;
}
.ParentProjects .set2 .project5 {
  background-color: #F2AEBB;
  height: 400px;
  width: 300px;
}
.ParentProjects .set2 .project6 {
  background-color: #F2AEBB;
  height: 400px;
  width: 300px;
}
.ParentProjects .set3 {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 50px;
}
.ParentProjects .set3 .title3 {
  background-color: #F2AEBB;
  width: 1200px;
  height: 60px;
  padding: 16px;
}
.ParentProjects .set3 .project7 {
  background-color: #F2AEBB;
  height: 400px;
  width: 300px;
  margin-left: 100px;
}
.ParentProjects .set3 .project8 {
  background-color: #F2AEBB;
  height: 400px;
  width: 300px;
}
.ParentProjects .set3 .project9 {
  background-color: #F2AEBB;
  height: 400px;
  width: 300px;
}/*# sourceMappingURL=index.css.map */